<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- carregar arquivo de propriedades -->
	<context:property-placeholder location="classpath:sport.properties"/>
	
    <!-- Define your beans here -->
    
    <bean id="myFortune"
    	class="springdemo.HappyFortuneService">
    </bean>
    
    <bean id="myRandomFortune"
    	class="springdemo.RandomFortuneService">
    </bean>
    
    <bean id="myCoach"
    	class="springdemo.TrackCoach">
    	
    	<!-- Injeção de construtor -->
    	<constructor-arg ref="myFortune" />
    </bean>
    
    <bean id="myCricketCoach"
    	class="springdemo.CricketCoach">
    	
    	<!-- injeção setter -->
    	<property name="fortuneService" ref="myRandomFortune"></property>
    	
    	<!-- valores literais -->
    	<property name="emailAddress" value="${email}"></property>
    	<property name="team" value="${team}"></property>
    </bean>
    
</beans>





